body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
}

h1 {
    font-size: 4em;
}

span {
    margin: 0 5px;
}

form {
    margin: 0 5px;
}

input[type="text"], input[type="password"] {
    width: 70%;
}

input[type="button"] {
    width: 20%;
    padding-left: 0;
}

.row {
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;
}

.col {
    align-items: center;
    justify-items: center;
}

#mysteryWordOutput {
    align-items: center;
    font-size: 1.5em;
}

#title {
    align-items: center;
}

#faults {
    height: 400px;
    background: whitesmoke;
}